extends ./public/layout

block title
  title PrinTEX Managerial

block content

  .content-index
    style
      include ./index.css

    h1 Welcome to PrinTEX Managerial Website, choose an option below
    br
    br
    br
    .button-menu
      button.btn.btn-secondary(type='button' onclick=`changeWindow('/account')`) Accounts
      button.btn.btn-primary(type='button' onclick=`changeWindow('/order')`) Orders
      button.btn.btn-info(type='button' onclick=`changeWindow('/file')`) Files


  script.
    function changeWindow(url){
      window.location.href = url
    }
    
